<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/normalize.css'|url }}">
<link rel="stylesheet" href="{{ '/static/skeleton.css'|url }}">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,300,600" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300i" rel="stylesheet">

<script src="https://use.fontawesome.com/30695b3f91.js"></script>

<title>{% block title %}{% endblock %}</title>
<body>
  <div class="container">

    <div class="row">
      <div class="two columns" style="margin-top: 10%">
        <nav class="sidemenu">
          <h5 class="logo"></h5>
          <ul>
            <li{% if this._path == '/' %} class="active"{% endif
              %}><a href="{{ '/'|url }}">welcome</a></li>
            {% for href, title in [
              ['/blog', 'blog'],
              ['/consulting', 'consulting'],
              ['/events', 'speaking'],
              ['/about', 'about'],
            ] %}
              <li{% if this.is_child_of(href) %} class="active"{% endif
                %}><a href="{{ href|url }}">{{ title }}</a></li>
            {% endfor %}

            <li><a target="_blank" href="https://github.com/willingc"><i class="fa fa-github" aria-hidden="true"></i>&nbsp; GitHub</a>
            <li><a target="_blank" href="https://linkedin.com/in/carolwilling"><i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp; LinkedIn</a>
            <li><a target="_blank" href="https://twitter.com/willingcarol"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp; Twitter</a>
          </ul>
        </nav>
      &nbsp;
      </div>

      <div class="eight columns"  style="margin-top: 5%">
        {% block body %}{% endblock %}
      </div>
    </div>
  </div>
  <footer>
    <div class="row">
      <div class="two columns"></div>
      <div class="ten columns" style="margin-top: 5%">
        &copy; Copyright 2013-2016 by Carol Willing.
      </div>
    </div>
  </footer>
</body>
