<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/normalize.css'|url }}">
<link rel="stylesheet" href="{{ '/static/skeleton.css'|url }}">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

<title>{% block title %}Welcome{% endblock %}willingconsulting.com</title>
<body>
  <div class="container">

    <div class="row">
      <div class="three columns" style="margin-top: 5%">
        <nav>
          <h3 id="logo">Carol Willing</h3>
          <ul>
            <li{% if this._path == '/' %} class="active"{% endif
              %}><a href="{{ '/'|url }}">Welcome</a></li>
            {% for href, title in [
              ['/blog', 'Blog'],
              ['/projects', 'Projects'],
              ['/about', 'About']
            ] %}
              <li{% if this.is_child_of(href) %} class="active"{% endif
                %}><a href="{{ href|url }}">{{ title }}</a></li>
            {% endfor %}

            <li><a target="_blank" href="https://github.com/willingc">GitHub</a>
            <li><a target="_blank" href="https://linkedin.com/in/carolwilling">LinkedIn</a><li><a target="_blank" href="https://twitter.com/willingcarol">Twitter</a>
          </ul>
        </nav>
      &nbsp;
      </div>

      <div class="nine columns"  style="margin-top: 5%">
        {% block body %}{% endblock %}
      </div>
    </div>
  </div>
  <footer>
  &copy; Copyright 2016 by Carol Willing.
  </footer>
</body>
