pre {
    font-family: 'monaco';
    font-size: 0.8em;
    background-color: #FAF9F9;
    border-radius: 6px;
    padding: 8px;
    line-height: 140%;
}

pre code {
    font-family: 'monaco';
    background-color: #272822;
    color: #fff;
}

nav ul {
   list-style: none;
}

nav a {
   color: #222;
   text-decoration: none;
}

a {
  color: #1EAEDB;
  text-decoration: none;
}
a:hover {
  color: #0FA0CE;
  text-decoration: none;
}



.body {
  font-family: 'Libre+Franklin';
}

.byline {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 0.8em;
  color: #444444;
}


.sidemenu {
  font-family: 'Lato', sans-serif;
  font-style: italic;
}
