pre {
    font-family: 'monaco';
    font-size: 0.8em;
    background-color: #FAF9F9;
    border-radius: 6px;
    padding: 8px;
    line-height: 140%;
}

pre code {
    font-family: 'monaco';
    background-color: #272822;
    color: #fff;
}

nav ul {
   list-style: none;
}

nav a {
   color: #222;
}

.body {
  font-family: 'Libre+Franklin';
}

.logo {
  margin: 0 auto;
  display: block;
  width: 42px;
  height: 42px;
  border: 5px solid black;
  background-color: #333333; }
